@import "tailwindcss";
body{
    font-family: 'IRANSans';
    
}
@media (max-width: 600px) {
  body {
    background-color: lightblue;
    font-size: 14px;
  }
}

@media (min-width: 601px) {
  body {
    background-color: white;
    font-size: 18px;
  }
}